{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div>

    <h1>{{ app_name }}!</h1>

    <table>
    {% for music in musics %}
        <tr>
            <td>
                <a id="audio" href="music/{{ music.getPublicIdentifier() }}">{{ music.getName() }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock %}
